header{
  background-color: blue;
  color:white;
  font-family: sans-serif;
}

h1{
  margin:0px;
}

nav{
  background-color: #d3d3d3 ;
  padding: 8px;
  border-color: black;
  border-radius: 5px;
  border: 5px;

}



h2{
  border: 1.2px solid black;
  background-color: blue;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;

}

h4{
  border: 1.2px solid black;
  background-color: blue;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;

}

.myfooter{
  background-color: blue;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border: 1.2px solid black;
  padding: 10px;
  margin-top: 10px;
}

#myheader{
  font-family: sans-serif;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
