<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="col-6">
    <title>Naomi Moreno </title>
    <script src="https://unpkg.com/vue@next"></script>
    </div>
    <div class="col-6">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    </div>

  </head>
  <body>
    <div class="container">
      <header class="row">
        <h1>  Naomi Moreno </h1>
      </header>

      <nav class = "row nav navbar-default">
      <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#myMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="myMenu">
        <ul class = "nav navbar-nav">
          <li><a href="index.html"> Home </a></li>
          <li><a href="books.html"> My Books </a></li>
          <li><a href="aboutme.html"> About Me </a></li>
        </ul>
      </div>
      </nav>

    <main class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="bookApp">


        <table class="table" id="mytable">
         <thead>
           <th>Book ID</th>
           <th>Title</th>
           <th>Author</th>
           <th>Year Published</th>
           <th>Page Count</th>
           <th>MSRP</th>
         </thead>
         <tbody>
           <tr v-for="book in books">
                          <td>{{ book.id }}</td>
                          <td>{{ book.title }}</td>
                          <td>{{ book.author }}</td>
                          <td>{{ book.year_pub }}</td>
                          <td>{{ book.pages }}</td>
                          <td>{{ prettyDollar(book.msrp) }}</td>
                          <td>
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                              v-on:click="selectBook(book)">Edit
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                              v-on:click="postDeleteBook(book)">Delete
                            </button>
                          </td>
          </tr>
       </tbody>
        </table>





      <h2> {{ selectedBook === null ? "Add" : "Edit" }} Book</h2>
        <form v-on:submit.prevent="postBook">

          <label for="title">Book Title:</label><br>
          <input type="text" v-model="bookForm.title"  class="form-control" id="title" name="title"><br>
          <label for="author">Author Name:</label><br>
          <input type="text" v-model="bookForm.author"  class="form-control" id="author" name="author"><br>
          <label for="year_pub">Year:</label><br>
          <input type="text" v-model="bookForm.year_pub"  class="form-control" id="year_pub" name="year_pub"><br>
          <label for="pages">Page Count:</label><br>
          <input type="text" v-model="bookForm.pages"  class="form-control" id="pages" name="pages" ><br>
          <label for="msrp">MSRP:</label><br>
          <input type="text" v-model="bookForm.msrp"  class="form-control" id="msrp" name="msrp" ><br><br>
          <button type="submit" class="btn btn-primary" name = "button" id = "button">Submit</button>
        </form>


      </div>



    </main>


    <footer class="myfooter">
      Naomi Moreno | Phone: (253)-913-0277 | 3558 Prospect Rd
    </footer>
    </div>
  </body>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src='js/tablesort.min.js'></script>
  <!-- <script src="js/index.js"></script> -->
  <script src="js/books.js"></script>


  <script>
    new Tablesort(document.getElementById('mytable'));
  </script>
</html>
